<!DOCTYPE html>
<html lang="en">
  <link rel="shortcut icon" href="s.png" type="image/x-icon">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <title>login</title>
</head>
<body>
  
<h1 class="dd">EaseList</h1>

<h3 class="di">Please Login</h3>

<div class="divs"> 
  
  <form action="/login" method="POST">

    <div class="wraper">

      <i class="fa-solid fa-at" id="at"></i>
      <input name="email" type="email" placeholder="Email"  class="email">

    </div>
  
  
  <div>

    <i class="fa-solid fa-lock" id="at"></i>
    <input name="password" type="password" placeholder="Password" class="password">

  </div>
  
<div>

  <input type="submit" class="sub" value="Log In">
  
</div>

<div class="x">

  <a class="ar" href="/sing">Or Sing Up</a>

</div>
  
<h3 class="err">Field All The Fields</h3>
  
</form>

</div>


  <script src="https://kit.fontawesome.com/f150d21efc.js" crossorigin="anonymous"></script>

</body>
</html>

